<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">Manage
          <span class="caret"></span>
        </button>
      </div>
      <ul class="dropdown-menu">
          <li><a href="#">Shop ingridients</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Desc
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Ingridients
    </div>
</div>
